<%- include("templates/head") %>
<body>
    <header>
    <h1><%= h1 %></h1>
    <%- include("templates/menu") %>
    </header>
    
    <main>
        <img src="https://http.cat/images/404.jpg" alt="">
    </main>
<%- include ("templates/footer") %>    
</body>

</html>