* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
    position: sticky;
    top:0;
    z-index: 2;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  background-color: #c28cc1;
  padding: 15px;
  border-top: 1px solid #ccc;
  padding-left: 15rem;
}

li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  color: #333;
}

a:hover {
  color: #ffffff;
}

main {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
    position: relative;

    min-height: 8rem;

  background: linear-gradient(to right, #c3a1c2, #c28cc1);    
}

header img {
    position: absolute;
    right: 2vw;
    top: 0;
    width: 10%;
    object-fit: contain;
        z-index: 1;
}

h1 {
  font-size: 8rem;
  font-weight: 700;
  text-align: left;
  letter-spacing: -0.08em;
  padding: 0 0 1rem 0;
  color: white;
  /* background-color: #c28cc1; */
  margin-bottom: -2rem;
  margin-top: -2rem;
  animation: fadeIn .5s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}


.descri p {
  font-size: 1.2rem;
}

.precio  {
font-size: 1rem;
color: #a247a0;

}

img {
  display: block;
  margin: 0 auto;
  padding: 1rem 0;
  height: clamp(18rem, 40rem, 45rem);
  object-fit: cover;
  width: 100%;
}

.cuatrocero {
  object-fit: none;
}

footer {
  background-color: #c28cc1;
  padding: 15px;
  text-align: center;
  color: #333;
}
footer p {
  font-size: 1rem;
}

footer a {
  color: #333;
  text-decoration: none;
  margin: 0 5px;
}

footer a:hover {
  text-decoration: underline;
}
