<footer>
  <p>© <%= new Date().getFullYear() %> express travels </p>
  <p>
    <% datos.forEach(item => { %>
           <a href="<%= item.ruta %>"> <%= item.lugar %></a> |
        <% }) %>

    <a href="/nada">nada</a>
  </p>
</footer>